.login-form, .register-form {
    background: rgba(0, 0, 0, 0.5); 
    padding: 15px;
    width: 90%; /* Adjust the width of the form */
    max-width: 300px; /* Set a maximum width to maintain readability */
    height: auto; 
    border-radius: 10px;
    color: white;
    border: 1px solid #f7f7f7;
    position: absolute;
    left: 14%;
    top: 50%;
    transform: translateY(-50%);
}

.input-container {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
}

.button-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #fffdfd;
}

input {
    width: calc(100% - 30px);
    padding: 10px;
    padding-left: 30px;
    border: none;
    border-radius: 25px;
    background-color: transparent;
    outline: none;
    border: 1px solid #f7f7f7;
    color: white;
}

button {
    width: 85%;
    padding: 10px;
    border: none;
    border-radius: 25px;
    background-color: white;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

button:hover {
    cursor: pointer;
    background-color: rgb(72, 32, 0);
    color: white;
    transition: 0.5s;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-link{
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-container-avatar{
    width: 90%;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 15px;
}

.input-container-avatar label{
    display: flex;
    align-items: center;
    justify-content: center;
}
