.movies-page {
    /* width: 900px; */
}

.movies {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.movie-paper {
    width: 250px;
    height: 360px;
    position: relative;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    margin: 10px;
    border: 1px solid transparent;
    transition: transform 0.3s ease;
}

.movie-paper:hover {
    border: 1px solid rgb(193, 89, 14);
    cursor: pointer;
    transition: 0.5s;
    transform: scale(1.05);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    /* Center the text horizontally and allow it to span multiple lines */
    text-align: center;
}

.title {
    margin-bottom: 5px;
    /* Ensure that the title can span multiple lines */
    white-space: normal;
    /* Limit the width of the title to prevent it from overflowing */
    max-width: 90%;
}


.release-date {
    font-size: 0.8rem;
}

.movie-paper:hover .overlay {
    opacity: 1;
}