.user-page {
    color: white;
    width: 900px;
    height: 450px;
    display: flex;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.user-info {
    width: 180px;
}

.user-details {
    height: 300px;
}

/* .user-picture {
    
} */

.user-picture {
    width: 100px;
    height: 100px;
}

.user-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-name{
    display: flex;
    align-items: center;
    justify-content: center;
}
 .watchlist{
    margin-left: 10px;
    display: flex;
}

/*.watchlist-container{
    
} */