.actor-modal-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background-color: #222; 
    color: #fff; 
    border-radius: 10px; 
    padding: 24px;
    display: flex;
    align-items: center;
  }

  .actor-info-modal{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }