.filter-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter{
    width: 90%;
}

.genre-filter{
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
}