.actor-card{
    max-width: 50px;
    border-radius: 20px;
}

.role-actor-card{
    display: flex;
    height: 80px;
    padding: 5px;
    width: 95%;
    margin-top: 20px;
}

.role-actor-card:hover{
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    cursor: pointer;
}

.actor-card-info{
    height: 50px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.roles{
    color: white;
    /* margin: 10px; */
    background: rgba(0, 0, 0, 0.5); 
    border-radius: 10px;
    height: auto;
    margin-left: 10px;
    width: 15%;
    /* margin: 10px; */
}