.modal-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: #222; /* Dark background color */
    color: #fff; /* Text color */
    border-radius: 10px; /* Rounded corners */
    padding: 24px;
  }

  .comment{
    margin-left: 20px;
  }
  
  .modal-title {
    font-size: 1.5rem;
    text-align: center;
  }

  .input-comment-container{
    height: 50px;
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    color: black;
  }

  .input{
    width: 85%;
    height: 100%;
  }

  .submit-comment-button-container{
    width: 15%;
    height: 50%;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  .submit-comment-button-icon{
    width: 30px;
    height: 30px;
    margin-right: 4px;
  }
 