/* App.css */

.page {
  height: 100vh;
  background-image: url('./Images/oppenheimer2.jpeg');
  background-size: 100%;
  background-position: 5% center;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  width: 100%;
  position: relative;
}

.icons-container {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
}

.menu-icon {
  color: white;
  width: 24px;
  height: 24px;
  margin-bottom: 10px;
}

.menu-icon:hover{
  cursor: pointer;
  transform: scale(1.25); 
  transition: 0.3s;
}

.logout-icon {
  color: white;
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.logout-icon:hover{
  cursor: pointer;
  transform: scale(1.25); 
  transition: 0.3s;
}
